n8n-workflow.json
{
  "name": "NIN Verification Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "verify-nin",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.placeholder.com/verify-nin",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nin",
              "value": "={{$json.body.nin}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Placeholder API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.verified}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Verification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Placeholder API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder API Call": {
      "main": [
        [
          {
            "node": "Check Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
